

@media (max-width:767px) {
    .home-elem-12 {
        width: auto;
        height: auto
    }

    .home-elem-55 {
        height: auto;
        width: auto
    }

    .home-elem-74 {
        height: auto;
        width: auto
    }

    .home-elem-58 {
        height: auto;
        width: auto
    }

    .home-elem-50 {
        height: auto;
        width: auto
    }

    .home-elem-17 {
        width: auto;
        height: auto
    }

    .home-elem-0 {
        width: auto;
        height: auto
    }

    .home-elem-26 {
        height: auto;
        width: auto
    }

    .home-elem-113 {
        padding: 0px 0px 0px 0px
    }

    .home-elem-112 {
        padding: 32px 16px 32px 16px;
        flex-direction: row;
        align-items: center;
        display: none
    }

    .home-elem-110 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .home-elem-111 {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex
    }

    .home-elem-125 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .home-elem-118 {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: none
    }

    .home-elem-115 {
        display: block
    }

    .home-elem-119 {
        position: relative
    }

    .home-elem-120 {
        justify-content: center;
        align-items: center
    }

    .home-elem-121 {
        justify-content: center
    }

    .home-elem-122 {
        justify-content: center
    }

    .home-elem-123 {
        justify-content: center
    }

    .home-elem-127 {
        padding: 32px 16px 32px 16px;
        flex-direction: column;
        row-gap: 12px
    }

    .home-elem-132 {
        width: 100%
    }

    .home-elem-128 {
        width: 100%
    }

    .home-elem-131 {
        width: auto;
        height: auto
    }

    .home-elem-15 {
        width: auto;
        height: auto
    }

    .home-elem-8 {
        width: auto;
        height: auto
    }

    .home-elem-30 {
        height: auto;
        width: auto
    }

    .home-elem-97 {
        justify-content: center
    }

    .home-elem-71 {
        width: auto;
        height: auto
    }

    .home-elem-79 {
        height: auto;
        width: auto
    }

    .home-elem-84 {
        height: auto;
        width: auto
    }
}